<div class="container mt-5 mb-5">
    <h1>Contact</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2">
                <input class="form-control" type="text" placeholder="Enter First Name">
            </div>
            <div class="col-lg-6  mt-2">
                <input class="form-control" type="text" placeholder="Enter Last Name">
            </div>
            <div class="col-lg-12  mt-2">
                <input class="form-control" type="email" placeholder="Enter Email Id">
            </div>
            <div class="col-lg-12  mt-2">
                <input class="form-control" type="number" placeholder="Enter Mobile Number">
            </div>
            <div class="col-lg-12  mt-2">
                <button class="btn btn-md btn-dark">Submit</button>
            </div>
        </div>
    </form>
</div>