<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        The North Karnataka cuisine is mainly a vegetarian meal. Rice and jola (sorghum) are the staples of this region.
        The main food items are Jowar and wheat rotis, accompanied by a variety of spicy curries, pickles and
        buttermilk.
        The North Karnataka cuisine is mainly a vegetarian meal. Rice and jola (sorghum) are the staples of this region.
        The main food items are Jowar and wheat rotis, accompanied by a variety of spicy curries, pickles and
        buttermilk.
        <br />
        <br/>
        What Makes It Awesome?
        Jolada Rotti or Jowar Roti & Butter.
        Enngai palya or Brinjal curry.
        Soppina palya & Kaalu palya: curry of green leafy vegetables and horsegram curry.
        Cucumber and Onion Raita.
        Kosambari.
        Papad.
        Jhunka or dunks, a dish made of besan.
        Chutney: a spicy onion garlic chutney.
        <br/>
        <br/>
        The North Karnataka cuisine is mainly a vegetarian meal. Rice and jola (sorghum) are the staples of this region.
        The main food items are Jowar and wheat rotis, accompanied by a variety of spicy curries, pickles and
        buttermilk.
        <br/>
        <br/>
        Mainly seafood with rice and fish as the staple food. Recipes revolve around steamed rice and ragi. Use of vegetables, grains, local fruits, and beans with jaggery and rice. Curry leaves and coconut as the main ingredients.
    </p>
</div>